.app-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.nav-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 1300px;
    background-color: lightcyan;
    // width: 100%;
}
